.container {
    display: flex;
}

.content {
    flex: 1;
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputGroup p {
    margin-bottom: 5px;
}

.inputGroup input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submitButton {
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    background-color: #333;
}
